<div class="wrapper">
  <header>
    <app-logo></app-logo>
    <div class="buttons">
      <a class="button" routerLink="">Main</a>
      <a class="button" routerLink="/admin/add-item">Add item</a>
    </div>
  </header>
  <!-- * Table -->
  <div class="wrapper">
    <table cellPadding="0" cellSpacing="0">
      <!-- * Table head -->
      <thead>
        <tr>
          <th>ID</th>
          <th>Photo</th>
          <th>Name</th>
          <th>Price</th>
          <th>Amount</th>
          <th>DELETE</th>
          <th>CHANGE</th>
        </tr>
      </thead>
      <!-- * Table body -->
      <tbody>
        <tr *ngFor="let item of list">
          <td>{{ item._id }}</td>
          <td>
            <div class="photo">
              <img [src]="item.nameFile" alt="item Photo" />
            </div>
          </td>
          <td>{{ item.name.en }}</td>
          <td>{{ item.price | currency }}</td>
          <td>{{ item.amount }}</td>
          <td>
            <button
              type="button"
              class="button-table"
              (click)="deleteItem(item._id)"
            >
              DELETE
            </button>
          </td>
          <td>
            <a
              [routerLink]="['/admin/update', item._id]"
              class="button-table"
              type="button"
              >CHANGE</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
