<section>
  <div class="wrapper">
    <div class="content">
      <p class="subtext">{{ "main.banner.p" | translate }}</p>
      <h2>
        {{ "main.banner.h" | translate }}<span>&</span>
        {{ "main.banner.h1" | translate }}
      </h2>
      <p>{{ "main.banner.p2" | translate }}</p>
      <a routerLink="shop" class="button">
        {{ "main.banner.button" | translate }}
      </a>
    </div>
    <div class="photo">
      <img src="./assets/images/banner-vase.png" alt="vase" />
    </div>
  </div>
</section>
