<section id="about">
  <div class="wrapper about-wrapper">
    <div class="content">
      <div class="phone">
        <div class="phone-img phone-img-move">
          <img src="./assets/images/phone_left-side.png" alt="phone" />
        </div>
        <div class="phone-img">
          <img src="./assets/images/phone_right-side.png" alt="phone" />
        </div>
      </div>
    </div>
    <div class="content">
      <h3>{{ "about.h3" | translate }}</h3>
      <p>
        {{ "about.p1" | translate }}
      </p>
      <p>
        {{ "about.p2" | translate }}
      </p>
      <div class="market">
        <a class="store" href="#">
          <img src="./assets/images/google-play.jpg" alt="Google-play" /></a
        ><a class="store" href="#">
          <img src="./assets/images/appstore.jpg" alt="Appstore"
        /></a>
      </div>
    </div>
  </div>
</section>
