<section class="advantage">
  <div class="wrapper advantage-wrapper">
    <div class="block block-text">
      <h3>{{ "advantage.h3" | translate }}</h3>
      <p class="bold">{{ "advantage.pBold" | translate }}</p>
      <p>
        {{ "advantage.p1" | translate }}
      </p>
      <p>
        {{ "advantage.p2" | translate }}
      </p>
      <p>
        {{ "advantage.p3" | translate }}
      </p>
    </div>
    <div class="block block-phone">
      <div class="phone">
        <img src="/assets/images/advantage.png" alt="phone" />
      </div>
    </div>
  </div>
</section>
